/*Set up basico*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: radial-gradient(#6c0202, black);
    color: #ffa804;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    display: block;
    content: '.';
    clear: both;
    height: 0;
    visibility: hidden;
}


/*Reusable*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.box {
    padding: 1%;
}

section {
    padding: 40px 0;
}


/*Header*/

.cabecera {
    font-size: 200%;
    text-align: left;
    display: block;
    background-image: radial-gradient(rgba(0, 0, 0, 0.44), rgb(0, 0, 0)),url(../images/fondo-cabecera.jpg);
    background-position: top;
    background-size: cover;
}

.cabecera h1 {
    display: inline-block;
}

@media only screen and (max-width: 600px) {
    .cabecera h1 {
        width: 100%;
        font-size: 80%;
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    .logo img {
        display: block;
        margin: auto;
    }
    .logo {
        width: 90%;
    }

    .personajes img, .otros-personajes img {
        max-width: 100% !important;
        max-height: 500px !important;
    }


}

.logo {
    float: left;
    display: inline-block;
    height: 150px;
    margin: 3% 5% 3% 5%;
}
.logo img {
    height: 100%;
}


/*menu*/

.cabecera a {
    display: block;
    margin: 2% 10% 2% 10%;
    text-align: center;
}

.cabecera a:link,
.cabecera a:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 50%;
    color: #ffa804;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    padding: 8px 0;
}

.cabecera a:hover,
.cabecera a:active {
    color: #ffcc7b;
    border-bottom: 2px solid #6c0202;
}


/*Letras*/

h1 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 200%;
    color: #ffa804;
}

h2 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 180%;
    text-align: center;
    color: #ffa804;
    margin-bottom: 40px;
    border-style: solid;
    background-image: linear-gradient(black, red);

}


h3 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}
p, i, cite {
    display: block;
    margin: 0 10px 15px 10px;

}

/*seccion personajes*/
.personajes img {
    max-width: 80%;
    max-height: 210px;
    display: block;
    margin: 10px auto;
}

.personaje-bloque {
    padding: 10px 0px;
    background-color: Black;

}
.personaje-bloque h3{
    background-image: linear-gradient(black, #5f0202);
}
/*seccion otros personajes*/
.seccion-otros-personajes{
    padding-top: 0;
}
.otros-personajes img {
    max-height: 350px;
    max-width: 90%;
    display: block;
    margin: 10px auto;
}
.otros-personajes cite {
    display: block;
    text-align: right;
}
/********JORGE*************/
.footer{
    padding-bottom: 2%;
    padding-top: 5%;
}
.footer-link{
    text-decoration: none;
    font-family: monospace;
    color: #ffa804;
}
.footer-link:hover{
    color: #ffc455;
    text-decoration-line: underline;
}
