/*Set up basico*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #6c0202;
    color: #ffa804;
    ;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    display: block;
    content: '.';
    clear: both;
    height: 0;
    visibility: hidden;
}


/*Reusable*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.box {
    padding: 1%;
}

section {
    padding: 80px 0;
}


/*Header*/

.cabecera {
    font-size: 200%;
    text-align: left;
    display: block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../images/fondo-cabecera.jpg);
    background-position: top;
    background-size: cover;
}

.cabecera h1 {
    display: inline-block;
}

@media only screen and (max-width: 600px) {
    .cabecera h1 {
        width: 100%;
        font-size: 80%;
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    .logo img {
        margin: 0 32% 0 32%;
}
    .logo {
        margin: 0;
        width: 100%;
    }


}

.logo {
    float: left;
    display: inline-block;
    height: 150px;
    margin: 3% 5% 3% 5%;
}
.logo img {
    height: 100%;
}


/*menu*/

.cabecera a {
    display: block;
    margin: 2% 10% 2% 10%;
    text-align: center;
}

.cabecera a:link,
.cabecera a:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 50%;
    color: #ffa804;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    padding: 8px 0;
}

.cabecera a:hover,
.cabecera a:active {
    color: #ffcc7b;
    border-bottom: 2px solid #6c0202;
}


/*Letras*/

h1 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 200%;
    color: #ffa804;
}

h2 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 180%;
    text-align: center;
    color: #ffa804;
    margin-bottom: 40px;
}

h3 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}
p {
    margin-bottom: 15px;
}


/*seccion personajes*/

.personajes img {
    max-width: 80%;
    max-height: 210px;
    margin: 2% 15%;
}

.personaje-bloque {
    padding: 10px 10px;
    background-color: black;
}
